{% extends "base.html" %}

{% block content %}
    <h3>Add Ons:</h3>
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>Package Number</th>
    			<th>Package Description</th>
    			<th>Price</th>
    			<th>Model</th>
    			<th>Model Available</th>
    		</tr>
    	</thead>
    	<tbody>
		    {% for add_on in results %}
	        <tr>
		        <td>{{add_on.package_no}}</td>
		        <td>{{add_on.package_description}}</td>
		        <td>{{add_on.price}}</td>
		        <td>{{add_on.model}}</td>
		        <td>{{add_on.model_available}}</td>
	    	</tr>
		    {% endfor %}
		</tbody>
	</table>
{% endblock %}