{% extends "base.html" %}

{% block content %}
    <h3>Available Rebates:</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Model</th>
                <th>Amount</th>
                <th>Dealer</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for rebate in results %}
            <tr>
                <td>{{rebate.model}}</td>
                <td>{{rebate.amount}}</td>
                <td>{{rebate.dealer}}</td>
                <td>{{rebate.start_date}}</td>
                <td>{{rebate.end_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}