{% extends "base.html" %}

{% block content %}
    <h3>Available St. Louis Vehicles:</h3>
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>Serial Number</th>
    			<th>Model</th>
    			<th>Color</th>
    			<th>Automatic Transmission</th> 
    			<th>Warehouse</th>
    		</tr>
    	</thead>
    	<tbody>
		    {% for cars in results %}
	        <tr>
		        <td>{{cars.serialno}}</td>
		        <td>{{cars.model}}</td>
		        <td>{{cars.color}}</td>
		        <td>{{cars.autotrans}}</td>
		        <td>{{cars.warehouse}}</td>
	    	</tr>
		    {% endfor %}
		</tbody>
	</table>
{% endblock %}