{% extends "base.html" %}

{% block content %}
    <h1>Current Inventory</h1>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Model</th>
                <th>Price</th>
                <th>Type</th>
                <th>Gas Mileage</th>
                <th>Seat</th>
                <th>Engine</th>
            </tr>
        </thead>
        <tbody>
            {% for model in results %}
            <tr>
                <td>{{model.model}}</td>
                <td>{{model.price}}</td>
                <td>{{model.type}}</td>
                <td>{{model.gas_mileage}}</td>
                <td>{{model.seat}}</td>
                <td>{{model.engine}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
